In [2]:
# 3.1 Using Pythong as a calc

In [3]:
# 3.1.1 Numbers
# +, -, *, / can be used to perform arithmetic. 
# () can be used to group exressions

In [4]:
# Integers have type int
2 + 2

4

In [5]:
50 - 5 * 6

20

In [6]:
(50 - 5 * 6) / 4

5.0

In [7]:
# division always returns floats. Where floats have a fractional part
8/5

1.6

In [8]:
# / regular divison always returns floats
17/3

5.666666666666667

In [9]:
# // floor division is used to get an int result. Discards the fractional part
17 // 3

5

In [10]:
# % returns remainder of division
17 % 3

2

In [11]:
5 * 3 + 2

17

In [12]:
# ** can be used to calculate powers
5 ** 2  # 5 ^ 2

25

In [13]:
2 ** 7 # 2 ^ 7

128

In [20]:
# = is   op 
width = 20
height = 5 * 9
width * height

900

In [15]:
# Operations containing both ints and floats results in float type
4 * 3.75 - 1

14.0

In [16]:
# 3.1.2 Text
# str data type is enclosed in either ' ' or " "
'I am the great potato man'

'I am the great potato man'

In [17]:
# to quote a quote use \ to escape the quote or use ' ' within " " or " " within ' '

In [19]:
# \ to escape
'doesn\'t'

"doesn't"

In [21]:
# " " to escape
"doesn't"

"doesn't"

In [23]:
# using ' ' to escape
'"yes," they said'

'"yes," they said'

In [24]:
# print() function omits enclosing quotes and prints escaped and special chars
s = 'First line. \nSecond line.' # \n is new line
# without print(), special chars are included in string
s

'First line. \nSecond line.'

In [26]:
# with print(), special chars are interpreted causing \n to create new line
print(s)

First line.
Second line.

In [28]:
# raw string, causes print() to ignore special chars such as \
print('C:\name') #Here, \n will produce a new line

C:
ame

In [29]:
# r is used to create raw string causing print() to ignore special char such as \
print(r'C:\some\name')

C:\some\name

In [31]:
# String concat using + 
# String can be repeated using *
3 * 'un' + 'ium'

'unununium'

In [32]:
# String literals next to each other are automatically concat
'Py' 'thon'

'Python'

In [33]:
#
text = ('Put multiple strings withint parentheses' 'to them them joined together')
text

'Put multiple strings withint parenthesesto them them joined together'

In [35]:
# automatic concat doesn't work between string literal and variable
# must use + to concat a string literal and a variable
prefix = 'Py'
prefix + 'thon'

'Python'

In [40]:
# strings can be indexed
# First char has index 0
# There is no char type. A single char is a string of size 1
word = 'Python'
print("Char at index 0 is: " + word[0])
print("Char at index 5 is: " + word[5])

Char at index 0 is: P
Char at index 5 is: n

In [43]:
# Negative indexes start from end of string
# Nevative indexes start from -1
print("Last character is: " + word[-1])
print("Second to last char is: " + word[-2])
print("First char is: " + word[-6])

Last character is: n
Second to last char is: o
First char is: P

In [48]:
# slicing allows to substring a string
# [start:end] slice starts at start index and excludes end index .:. slice from start to end - 1
print(word[0:2])

Py

In [47]:
print(word[2:5])

tho

In [49]:
print(word[:2] + word[2:])

Python

In [50]:
print(word[:4] + word[4:])

Python

In [51]:
# More slicing
# Omitting start index slices from index 0 to end - 1
print(word[:2])
# Omitting the end index slices up until end of string/array
print(word[2:])

Py
thon

In [53]:
# Slices can be negative, starting from the back/end
print(word[-2:])

on

In [54]:
# Slicing handles out of index "gracefully"
print(word[4:42])
print(word[42:])

on

In [56]:
# Strings are immutable .:. assigning indexed position in string yields error
# word[0] = 'j' would return in error
# .:. in order to modify a string, a new string must be created
print('J' + word[1:])
print(word[:2] + 'py')

Jython
Pypy

In [57]:
# len() returns length of string/arr
print(len(word))

6

In [58]:
# 3.1.3 Lists

In [59]:
# List, written as [item1, item 2, item3, ....] 
# Items in list can be of different type
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [63]:
# Lists can be indexed and sliced
print(squares[0])
print(squares[-1]) #returns last item
print(squares[-3:]) #slices starting 3 items from the back all the way to end

1
25
[9, 16, 25]

In [66]:
# Lists can be concat +
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25]

In [67]:
# lists are mutable, value at indexes can be changed
cubes = [1, 8, 27, 65, 125]
print(cubes)
cubes[3] = 64
print(cubes)

[1, 8, 27, 65, 125]
[1, 8, 27, 64, 125]

In [68]:
# .append() allows to add an item to the end of the list
cubes.append(216)
cubes.append(7 **3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343]

In [70]:
# Assigmment doesn't copy data. New variable points to the original object .:. changes made to copies affect original
rgb = ["red", "green", "blue"]
rgba = rgb
id(rgb) == id(rgba)
rgba.append("alph")
print(rgb)  #note, it includes "alpha" even though it was added to rgba

['red', 'green', 'blue', 'alpha']

In [75]:
#slice operations return a new list, a shallow copy of the list
correct_rgba = rgba[:]
correct_rgba[-1] = "alpha"
print(correct_rgba)

['red', 'green', 'blue', 'alpha']

In [79]:
# slice can be used to replace values or delete values
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters)
# replace vals using slice
letters[2:5] = ['C', 'D', 'E']
print(letters)
# delete values using slice
letters[2:5] = []
print(letters)
# clear list replacing all values with empty list
letters[:] = []
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
[]

In [80]:
# len also applies to lists
len(letters)

0

In [86]:
# Lists can be nested. 2d array/vector
list_letters = ['a', 'b', 'c']
list_numbers = [1, 2, 3]
lists_combined = [list_letters, list_numbers]
print(lists_combined)
print(lists_combined[0])
print(lists_combined[1][1])

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
2

In [89]:
# 3.2 First steps towards programming
#Fibnacci
a, b = 0, 1    #assigns a to value 0 and b to value 1
while a < 10:  #loooop
    print(a, end=',')   # print() can take the end argument which replaces the newline with ','
    a, b = b, a + b  # again, assign a to b and b to a + b

0,1,1,2,3,5,8,